<div class="card">
  <div class="card-header">
    Data de Clientes
  </div>
  <div class="card-body">
    <div class="row">
      <div class="form-group row justify-content-md-center">
        <label for="example-text-input" class="col-12 col-form-label">Consultar (CI)</label>
        <div class="col-12">
          <dx-text-box
              mode="number"
              class="form-control"
              [(value)]="ci"
              type="number" id="cedula-cliente"
              (onValueChanged)="consultarCI($event)">
          </dx-text-box>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <button type="submit" class="btn btn-primary">Exportar</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <br>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              Cédula
            </th>
            <th>
              Nombre
            </th>
            <th>
              Apellido
            </th>
            <th>
              Nombre Finca
            </th>
            <th>
              Cod Finca
            </th>
            <th>
              Provincia
            </th>
            <th>
              Cantón
            </th>
            <th>
              Parroquia
            </th>
            <th>
              Teléfono
            </th>
            <th>
              Correo
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td data-title="Cédula">
              {{cliente.cedula_intper}}
            </td>
            <td data-title="Nombre">
              {{cliente.nombre_intper}}
            </td>
            <td data-title="Apellido">
              {{cliente.apellido_intper}}
            </td>
            <td data-title="Nombre Finca">
              {{cliente.nombre_finca_intcli}}
            </td>
            <td data-title="Código Finca">
              {{cliente.cod_finca_intcli}}
            </td>
            <td data-title="Provincia">
              {{cliente.nombre_intprov}}
            </td>
            <td data-title="Cantón">
              {{cliente.nombre_intcant}}
            </td>
            <td data-title="Parroquia">
              {{cliente.parroquia_intper}}
            </td>
            <td data-title="Teléfono">
              {{cliente.telefono_intper}}
            </td>
            <td data-title="Correo">
              {{cliente.correo_intper}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
