<div class="card">
    <div class="card-header">
        Data de Clientes
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Exportar</button>                    
            </div>
            <div class="col-3">
                <select _ngcontent-c7="" class="form-control" id="disabledSelect">
                    <option _ngcontent-c7="">Día</option>
                    <option _ngcontent-c7="">Semana</option>
                    <option _ngcontent-c7="">Mes Actual</option>
                    <option _ngcontent-c7="">Anual</option>                    
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
               <br>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th>
                        Cédula
                    </th>
                    <th>
                       Nombre
                    </th>
                    <th>
                       Apellido
                    </th>
                    <th>
                       Nombre Finca
                    </th>
                    <th>
                        Cod Finca
                    </th>        
                    <th>
                        Provincia
                    </th>        
                    <th>
                        Cantón
                    </th>  
                    <th>
                        Parroquia
                    </th>
                    <th>
                        Teléfono
                    </th>     
                    <th>
                        Correo
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Cédula">
                        19123456890
                    </td>
                    <td data-title="Nombre">
                        Maria
                    </td>
                    <td data-title="Apellido">
                        Gomez
                    </td>
                    <td data-title="Nombre Finca">
                        La Luz
                    </td>
                    <td data-title="Código Finca">
                        909
                    </td>
                    <td data-title="Provincia">
                        Pichincha
                    </td>
                    <td data-title="Cantón">
                        Quito
                    </td>
                    <td data-title="Parroquia">
                        La Luz
                    </td>
                    <td data-title="Teléfono">
                        098123456
                    </td>
                    <td data-title="Correo">
                        laluz@gmail.com
                    </td>
                </tr>
                <tr>
                    <td data-title="Cédula">
                        19123456890
                    </td>
                    <td data-title="Nombre">
                        Maria
                    </td>
                    <td data-title="Apellido">
                        Gomez
                    </td>
                    <td data-title="Nombre Finca">
                        La Luz
                    </td>
                    <td data-title="Código Finca">
                        909
                    </td>
                    <td data-title="Provincia">
                        Pichincha
                    </td>
                    <td data-title="Cantón">
                        Quito
                    </td>
                    <td data-title="Parroquia">
                        La Luz
                    </td>
                    <td data-title="Teléfono">
                        098123456
                    </td>
                    <td data-title="Correo">
                        laluz@gmail.com
                    </td>
                </tr>
                <tr>
                    <td data-title="Cédula">
                        19123456890
                    </td>
                    <td data-title="Nombre">
                        Maria
                    </td>
                    <td data-title="Apellido">
                        Gomez
                    </td>
                    <td data-title="Nombre Finca">
                        La Luz
                    </td>
                    <td data-title="Código Finca">
                        909
                    </td>
                    <td data-title="Provincia">
                        Pichincha
                    </td>
                    <td data-title="Cantón">
                        Quito
                    </td>
                    <td data-title="Parroquia">
                        La Luz
                    </td>
                    <td data-title="Teléfono">
                        098123456
                    </td>
                    <td data-title="Correo">
                        laluz@gmail.com
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>