<div class="card">
    <div class="card-header">
        Control de Punto de Venta
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Exportar</button>                    
            </div>
            <div class="col-3">
                <select _ngcontent-c7="" class="form-control" id="disabledSelect">
                    <option _ngcontent-c7="">Día</option>
                    <option _ngcontent-c7="">Semana</option>
                    <option _ngcontent-c7="">Mes Actual</option>
                    <option _ngcontent-c7="">Anual</option>                    
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
               <br>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th class="date">
                        Fecha Login
                    </th>
                    <th>
                        Punto de Venta
                    </th>
                    <th>
                        IP
                    </th>                        
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Fecha" class="date">
                        10/03/2018
                    </td>
                    <td data-title="Punto de Venta">
                        PVLOJA1
                    </td>
                    <td data-title="IP">
                        198.231.50.1
                    </td>
                </tr>
                <tr>
                    <td data-title="Fecha" class="date">
                        10/03/2018
                    </td>
                    <td data-title="Punto de Venta">
                        PVLOJA1
                    </td>
                    <td data-title="IP">
                        198.231.50.1
                    </td>
                </tr>
                <tr>
                    <td data-title="Fecha" class="date">
                        10/03/2018
                    </td>
                    <td data-title="Punto de Venta">
                        PVLOJA1
                    </td>
                    <td data-title="IP">
                        198.231.50.1
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>