<div class="card">
  <div class="card-header">
    Control de Punto de Venta
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <button type="submit" class="btn btn-primary">Exportar</button>
      </div>
      <div class="col-3">
        <select _ngcontent-c7="" class="form-control" id="disabledSelect" (change)="selecciono($event)" (ngModel)="opcion">
          <option _ngcontent-c7="" *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <br>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th class="date">
              Fecha Login
            </th>
            <th>
              Punto de Venta
            </th>
            <th>
              IP
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of logs">
            <td data-title="Fecha" class="date">
              {{log.fecha_intlog | date:'yyyy-MM-dd HH:mm a'}}
            </td>
            <td data-title="Punto de Venta">
              {{log.nombre_intemp}}
            </td>
            <td data-title="IP">
              {{log.ip_intlog}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
