<div class="row">
  <div class="col-12">
    <div *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Lista de Usuario de Puntos de Ventas
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              Usuario
            </th>
            <th class="date">
              Fecha de Registro
            </th>
            <th>
              Nombre
            </th>
            <th>
              Apellido
            </th>
            <th>
              Dirección
            </th>
            <th>
              Correo
            </th>
            <th>
              Teléfono
            </th>
            <th>
              Estado
            </th>
            <th>
              Editar
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let filial of filiales">
            <td data-title="Usuario">
              {{filial.usuario_intusu}}
            </td>
            <td data-title="Fecha de Registro" class="date">
              10/03/2018
            </td>
            <td data-title="Nombre">
              {{filial.nombre_intper}}
            </td>
            <td data-title="Apellido">
                {{filial.apellido_intper}}
            </td>
            <td data-title="Dirección">
              {{filial.nombre_intprov}}, {{filial.nombre_intcant}}, {{filial.parroquia_intper}}, {{filial.direccion_intper}}
            </td>
            <td data-title="Correo" class="email">
              {{filial.correo_intper}}
            </td>
            <td data-title="Teléfono" class="numeric">
              {{filial.telefono_intper}}
            </td>
            <td data-title="Estado" >
              {{filial.activo}}
            </td>
            <td data-title="Editar">
              <button class="btn btn-info btn-icon mr-1 mb-1" type="button" (click)="open(content, filial)">
                <i _ngcontent-c5="" class="icon icon-software-pencil"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template ngbModalContainer></ng-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-uppercase">{{detalle.nombre_intemp}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" novalidate (submit)="modificar($event)">
      <div class="form-group row justify-content-md-center">
        <label for="example-text-input" class="col-4 col-form-label">Nombre Empresa Filial</label>
        <div class="col-8">
          <dx-text-box
              class="form-control"
              id="nombreEmpresa-pv"
              [(value)]="detalle.nombre_intemp">
            <dx-validator>
              <dxi-validation-rule type="required" message="Nombre es requerido"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
      <div class="form-group row justify-content-md-center">
        <label for="example-text-input" class="col-4 col-form-label">Nombre</label>
        <div class="col-8">
          <dx-text-box
              class="form-control"
              id="nombre-pv"
              [(value)]="detalle.nombre_intper">
            <dx-validator>
              <dxi-validation-rule type="required" message="Nombre es requerido"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
      <div class="form-group row justify-content-md-center">
        <label for="example-search-input" class="col-4 col-form-label">Apellido</label>
        <div class="col-8">
          <dx-text-box
              class="form-control"
              id="apellido-pv"
              [(value)]="detalle.apellido_intper">
            <dx-validator>
              <dxi-validation-rule type="required" message="Apellido es requerido"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
      <div class="form-group row justify-content-md-center">
        <label for="example-search-input" class="col-4 col-form-label">Cédula</label>
        <div class="col-8">
          <dx-text-box
              class="form-control"
              mode="number"
              id="cedula-pv"
              [(value)]="detalle.cedula_intper">
            <dx-validator>
              <dxi-validation-rule type="required" message="C.I. es requerida"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
      <div class="form-group row justify-content-md-center">
        <label for="example-search-input" class="col-4 col-form-label">Provincia</label>
          <div class="col-8">
            <dx-select-box
                [dataSource]="provincias"
                displayExpr="nombre_intprov"
                valueExpr="id_intprov"
                [value]="detalle.id_intprov"
                (onValueChanged)="cambioProvincia($event)">
              <dx-validator>
                <dxi-validation-rule type="required" message="Provincia es requerida"></dxi-validation-rule>
              </dx-validator>
            </dx-select-box>
          </div>
      </div>
      <div class="form-group row justify-content-md-center">
        <label for="example-search-input" class="col-4 col-form-label">Cantón</label>
          <div class="col-8">
            <dx-select-box
                [dataSource]="cantones"
                displayExpr="nombre_intcant"
                valueExpr="id_intcant"
                [value]="detalle.id_intcant"
                (onValueChanged)="cambioCanton($event)">
              <dx-validator>
                <dxi-validation-rule type="required" message="Cantón es requerido"></dxi-validation-rule>
              </dx-validator>
            </dx-select-box>
          </div>
      </div>
      <div class="form-group row justify-content-md-center">
        <label for="example-search-input" class="col-4 col-form-label">Parroquia</label>
        <div class="col-8">
          <dx-text-box
              class="form-control"
              id="parroquia-pv"
              [(value)]="detalle.parroquia_intper">
            <dx-validator>
              <dxi-validation-rule type="required" message="Parroquia es requerida"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
      <div class="form-group row justify-content-md-center">
        <label for="example-search-input" class="col-4 col-form-label">Dirección</label>
        <div class="col-8">
          <dx-text-box
              class="form-control"
              name="documento"
              id="direccion-pv"
              [(value)]="detalle.direccion_intper">
            <dx-validator>
              <dxi-validation-rule type="required" message="Dirección es requerida"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
      <div class="form-group row justify-content-md-center">
        <label for="example-search-input" class="col-4 col-form-label">Teléfono</label>
        <div class="col-8">
          <dx-text-box
              class="form-control"
              name="documento"
              mask="(X0)0000000"
              [maskRules]="phoneRules"
              id="telefono-pv"
              [(value)]="detalle.telefono_intper">
            <dx-validator>
              <dxi-validation-rule type="required" message="Teléfono es requerido"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
      <div class="form-group row justify-content-md-center">
        <label for="example-search-input" class="col-4 col-form-label">Usuario</label>
        <div class="col-8">
          <dx-text-box
              class="form-control"
              id="usuario-pv"
              [(value)]="detalle.usuario_intusu">
            <dx-validator>
              <dxi-validation-rule type="required" message="Usuario es requerido"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
      <div class="form-group row justify-content-md-center">
        <label for="example-email-input" class="col-4 col-form-label">Correo</label>
        <div class="col-8">
          <dx-text-box
              class="form-control"
              mode="email"
              id="correo-pv"
              [(value)]="detalle.correo_intper">
            <dx-validator>
              <dxi-validation-rule type="email" message="No cumple con el formato email"></dxi-validation-rule>
              <dxi-validation-rule type="required" message="Email es requerido"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
      <div class="form-group row justify-content-md-center">
        <label for="example-email-input" class="col-4 col-form-label">Comisión</label>
        <div class="col-8">
          <dx-text-box
              mode="float"
              class="form-control"
              id="comision-pv"
              [(value)]="detalle.comision_intemp">
            <dx-validator>
              <dxi-validation-rule type="required" message="Comisión es requerida"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <dx-button
              (click)="c('Close click')"
              class="btn btn-cancelar pull-right"
              text="Cancelar"
              style="margin-right: 5px;"
              [disabled]="guardando">
          </dx-button>
          <dx-button
              text="Registrar"
              class="btn btn-primary pull-right"
              [useSubmitBehavior]="true"
              [disabled]="guardando">
          </dx-button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
