<div class="card">
    <div class="card-header">
        Sistema Contable Bones
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <label for="example-text-input" class="col-form-label"><strong>Consulta</strong></label>           
            </div>
            <div class="col-3">
                <select _ngcontent-c7="" class="form-control" id="disabledSelect">
                    <option _ngcontent-c7="">Día</option>
                    <option _ngcontent-c7="">Semana</option>
                    <option _ngcontent-c7="">Mes Actual</option>
                    <option _ngcontent-c7="">Anual</option>                    
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
               <br>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th class="date">
                        Fecha
                    </th>
                    <th>
                        Nº Orden
                    </th>
                    <th>
                        Archivo
                    </th>
                    <th>
                        Estado
                    </th>                       
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Fecha" class="date">
                        10/03/2018
                    </td>
                    <td data-title="Orden">
                        123
                    </td>
                    <td data-title="Archivo">
                        Orden1-grabadora.txt
                    </td>
                    <td data-title="Estado">
                        <div _ngcontent-c5="" class="form-check mb-2 mr-sm-2 mb-sm-0">
                            <label _ngcontent-c5="" class="form-check-label">
                              <input _ngcontent-c5="" class="form-check-input" type="checkbox"> Procesado
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td data-title="Fecha" class="date">
                        10/03/2018
                    </td>
                    <td data-title="Orden">
                        123
                    </td>
                    <td data-title="Archivo">
                        Orden1-grabadora.txt
                    </td>
                    <td data-title="Estado">
                        <div _ngcontent-c5="" class="form-check mb-2 mr-sm-2 mb-sm-0">
                            <label _ngcontent-c5="" class="form-check-label">
                              <input _ngcontent-c5="" class="form-check-input" type="checkbox"> Procesado
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>