.login-clean {
  padding: 80px 0;
}

.login-clean form {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  background: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.login-clean .logo {
  text-align: center;
  padding: 0 0 20px;
  font-size: 100px;
}

.login-clean form .logo img {
  width: 100%;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.login-clean form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color:#6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

a.forgot {
  padding-top: 5%;
  font-weight: bold;
  font-family: Montserrat-Thin;
  color: #938f8f;
  font-size: 0.7em;
}

a.forgot.click {
  padding-top: 0;
  font-family: Montserrat-BlackItalic;
  color: #171055;
  opacity: 1;
  font-size: 0.7em;
}

.footer-basic {
  padding: 40px 0;
  background: transparent;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  margin-bottom: 0;
}

a.innova {
  color: #fff;
}

a.innova:hover {
  color: #fff;
}

.list-inline li a {
  color: #fff;
}

dx-text-box.form-control.usuario {
  background: url(../../assets/images/iconos/ICON-USER1.png);
  background-position: 1%;
  background-repeat: no-repeat;
  background-size: 10%;
  padding-left: 11%;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px -1px 5px #d4d4d4;
  box-shadow: 0px -1px 5px #d4d4d4;
}

dx-text-box.form-control.clave {
  background: url(../../assets/images/iconos/ICON-CANDADO.png);
  background-position: 1%;
  background-repeat: no-repeat;
  background-size: 10%;
  padding-left: 11%;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px -1px 5px #d4d4d4;
  box-shadow: 0px -1px 5px #d4d4d4;
}

/deep/ dx-text-box.form-control.usuario div.dx-texteditor-container input,
/deep/ dx-text-box.form-control.clave div.dx-texteditor-container input {
  background: transparent;
  font-family: Montserrat-Regular;
  font-style: italic;
}

dx-button.btn-login {
  margin-top: 10%;
  height: 3.5em;
  font-size: 1.2em;
  font-family: Montserrat-Bold;
  color: #000;
}
