<div class="card">
    <div class="card-header">
        Data de Precios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Exportar</button>                    
            </div>
            <div class="col-3">
                <select _ngcontent-c7="" class="form-control" id="disabledSelect">
                    <option _ngcontent-c7="">Día</option>
                    <option _ngcontent-c7="">Semana</option>
                    <option _ngcontent-c7="">Mes Actual</option>
                    <option _ngcontent-c7="">Anual</option>                    
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <br>
            </div>
        </div>
        <div class="table-responsive">
        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Empresa Filial
                    </th>
                    <th>
                        Usuario
                    </th>
                    <th>
                        Monto de Venta/día
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Fecha" class="data">
                        10/03/2018
                    </td>
                    <td data-title="Nombre Empresa Filiañ">
                        AgroInsumo
                    </td>
                    <td data-title="Usuario">
                        PVLOJA1
                    </td>
                    <td data-title="Monto">
                        999.9
                    </td>                        
                </tr>
                <tr>
                    <td data-title="Fecha" class="data">
                        10/03/2018
                    </td>
                    <td data-title="Nombre Empresa Filiañ">
                        AgroInsumo
                    </td>
                    <td data-title="Usuario">
                        PVLOJA1
                    </td>
                    <td data-title="Monto">
                        999.9
                    </td>                        
                </tr>
                <tr>
                    <td data-title="Fecha" class="data">
                        10/03/2018
                    </td>
                    <td data-title="Nombre Empresa Filiañ">
                        AgroInsumo
                    </td>
                    <td data-title="Usuario">
                        PVLOJA1
                    </td>
                    <td data-title="Monto">
                        999.9
                    </td>                        
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>