<div class="card">
  <div class="card-header">
    Data de Precios
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <button type="submit" class="btn btn-primary">Exportar</button>
      </div>
      <div class="col-3">
        <select _ngcontent-c7="" class="form-control" id="disabledSelect" (change)="selecciono($event)" (ngModel)="opcion">
          <option _ngcontent-c7="" *ngFor="let opcion of opciones" [value]="opcion">{{opcion}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <br>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr>
            <th>
              Fecha
            </th>
            <th>
              Empresa Filial
            </th>
            <th>
              Usuario
            </th>
            <th>
              Monto de Venta
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let precio of precios">
            <td data-title="Fecha" class="data">
              {{precio.fecha_intpag | date:'dd/MM/yyyy HH:mm a'}}
            </td>
            <td data-title="Nombre Empresa Filial">
              {{precio.nombre_intemp}}
            </td>
            <td data-title="Usuario">
              {{precio.usuario_intusu}}
            </td>
            <td data-title="Monto">
              {{precio.monto_intpag}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
