<div class="card">
    <div class="card-header">
        Entrega en Punto de Venta
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <br>
            </div>
        </div>
        <div class="table-responsive justify-content-md-center">
        <table class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th class="date">
                        Fecha Pago
                    </th>
                    <th>
                        Nº Orden
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>       
                    <th>
                        Cédula
                    </th>     
                    <th>
                        Cant Aretes
                    </th>                            
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Fecha" class="date">
                        10/03/2018
                    </td>
                    <td data-title="Orden">
                        123
                    </td>
                    <td data-title="Nombre">
                        Maria
                    </td>
                    <td data-title="Apellido">
                        Gomez
                    </td>
                    <td data-title="Cédula">
                        1298702345
                    </td>
                    <td data-title="Cant Arete">
                        100
                    </td>
                </tr>
                <tr>
                    <td data-title="Fecha" class="date">
                        10/03/2018
                    </td>
                    <td data-title="Orden">
                        123
                    </td>
                    <td data-title="Nombre">
                        Maria
                    </td>
                    <td data-title="Apellido">
                        Gomez
                    </td>
                    <td data-title="Cédula">
                        1298702345
                    </td>
                    <td data-title="Cant Arete">
                        100
                    </td>
                </tr>
                <tr>
                    <td data-title="Fecha" class="date">
                        10/03/2018
                    </td>
                    <td data-title="Orden">
                        123
                    </td>
                    <td data-title="Nombre">
                        Maria
                    </td>
                    <td data-title="Apellido">
                        Gomez
                    </td>
                    <td data-title="Cédula">
                        1298702345
                    </td>
                    <td data-title="Cant Arete">
                        100
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>