.container {
  width: 100%;
}

h4 {
  width: 100%;
  color: #124c96;
  font-family: Montserrat-Bold;
  text-align: center;
  margin-top: 10%;
}

.input-group {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
}

button.btn.btn-default.btn-buscar {
  color: #fff;
  background: #1a569f;
  margin-left: 4px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

div.input-group input.form-control {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px -1px 5px #d4d4d4;
  box-shadow: 0px -1px 5px #d4d4d4;
}

div.row.resultado {
  margin-top: 5%;
  width: 52%;
  margin-left: 25%;
}

dx-button.boton {
  margin-top: 10px;
  height: 2.5em;
  font-size: 0.9em;
  font-family: Montserrat-Bold;
  color: #124c96;
  border: 1px solid #124c96;
  border-radius: 5px;
}

div.col-lg-12.col-md-12.col-sm-12.col-xs-12.boton {
  width: 54%;
  margin-left: 25%;
}


