<div class="card">
        <div class="card-header">
            Despacho a Punto de Venta
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                   <br>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped mb-0">
                    <thead>
                    <tr>
                        <th class="date">
                            Fecha Pago
                        </th>
                        <th>
                            Nº Orden
                        </th>                       
                        <th>
                            Cédula
                        </th>     
                        <th>
                            Cant Aretes
                        </th>
                        <th>
                            Monto Total    
                        </th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="Fecha" class="date">
                            10/03/2018
                        </td>
                        <td data-title="Orden">
                            123
                        </td>                        
                        <td data-title="Cédula">
                            1298702345
                        </td>
                        <td data-title="Cant Arete">
                            100
                        </td>
                        <td data-title="Monto">
                            330
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Fecha" class="date">
                            10/03/2018
                        </td>
                        <td data-title="Orden">
                            123
                        </td>                       
                        <td data-title="Cédula">
                            1298702345
                        </td>
                        <td data-title="Cant Arete">
                            100
                        </td>
                        <td data-title="Monto">
                            330
                        </td>
                    </tr>
                    <tr>
                        <td data-title="Fecha" class="date">
                            10/03/2018
                        </td>
                        <td data-title="Orden">
                            123
                        </td>
                        <td data-title="Cédula">
                            1298702345
                        </td>
                        <td data-title="Cant Arete">
                            100
                        </td>
                        <td data-title="Monto">
                            330
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>