<div class="card">
    <div class="card-header">
        Despacho a Punto de Venta
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <br>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th class="date">
                            Fecha Pago
                        </th>
                        <th>
                            Nº Orden
                        </th>
                        <th>
                            Cédula
                        </th>
                        <th>
                            Cant Aretes
                        </th>
                        <th>
                            Monto Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let despacho of despachos">
                        <td data-title="Fecha" class="date">
                            {{despacho.fecha_intpag | date:'dd/MM/yyyy HH:mm a'}}
                        </td>
                        <td data-title="Orden">
                            {{despacho.id_intorden}}
                        </td>
                        <td data-title="Cédula">
                            {{despacho.cedula_intper}}
                        </td>
                        <td data-title="Cant Arete">
                            {{despacho.cant_aretes_intdetord}}
                        </td>
                        <td data-title="Monto">
                            {{despacho.total_intdetord}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>