<div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>Crear Cliente</h4>
      </div>
    </div>
    <div class="row formulario">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form (submit)="guardar($event)">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="cod_finca">
                Código de la Finca
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="Código de la Finca">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Código es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="provincia">
                Provincia
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="Provincia">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Provincia es requerida"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="GPSL">
                GPS Longitud
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="GPS Longitud">
                <dx-validator>
                  <dxi-validation-rule type="required" message="GPS Longitud es requerida"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="nombre-finca">
                Nombre de la Finca
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="Nombre de la Finca">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Nombre de la finca es requerida"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="canton">
                Cantón
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="Cantón">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Cantón es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="telefono">
                Teléfono
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="Teléfono">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Teléfono es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="apellido">
                Apellido
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="Teléfono">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Teléfono es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="parroquia">
                Parroquia
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="Parroquia">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Parroquia es requerida"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="email">
                Correo Electrónico
              </label>
              <dx-text-box
                  class="form-control"
                  mode="email"
                  placeholder="Correo">
                <dx-validator>
                  <dxi-validation-rule type="email"></dxi-validation-rule>
                  <dxi-validation-rule type="required" message="Correo electrónico es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="nombre">
                Nombre
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="Nombre">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Nombre es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="direccion">
                Dirección
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="Correo">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Dirección es requerida"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="cedula">
                Cédula
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="Cédula de Identidad">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Cédula de Identidad es requerida"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="gps">
                GPS Latitud
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="GPS Latitud">
                <dx-validator>
                  <dxi-validation-rule type="required" message="GPS Latitud es requerida"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="gps">
                GPS Longitud
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="GPS Longitud">
                <dx-validator>
                  <dxi-validation-rule type="required" message="GPS Longitud es requerida"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h6 class="Referencia">
              Datos de Contacto (No puede ser familiar)
            </h6>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="nombre">
                Nombre:
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="Nombre">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Nombre es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="apellido">
                Apellido:
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="Apellido">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Apellido es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="telefono">
                Teléfono:
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="Teléfono">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Teléfono es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="email">
                Correo Electrónico:
              </label>
              <dx-text-box
                  class="form-control"
                  placeholder="Correo Electrónico">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Correo Electrónico es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <dx-button
                  text="Guardar"
                  [useSubmitBehavior]="true"
                  class="btn boton">
              </dx-button>
              <dx-button
                  text="Cancelar"
                  (click)="cancelar()"
                  class="btn boton">
              </dx-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
