<div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>Crear Cliente</h4>
      </div>
    </div>
    <div class="row formulario">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form (submit)="guardar($event)">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="cod_finca">
                Código de la Finca
              </label>
              <dx-text-box
                  class="form-control"
                  mode="password"
                  placeholder="Código de la Finca">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Código es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="provincia">
                Provincia
              </label>
              <dx-text-box
                  class="form-control"
                  mode="password"
                  placeholder="Provincia">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Provincia es requerida"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="GPSL">
                GPS Longitud
              </label>
              <dx-text-box
                  class="form-control"
                  mode="password"
                  placeholder="GPS Longitud">
                <dx-validator>
                  <dxi-validation-rule type="required" message="GPS Longitud es requerida"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="nombre">
                Nombre de la Finca
              </label>
              <dx-text-box
                  class="form-control"
                  mode="password"
                  placeholder="Nombre de la Finca">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Nombre de la finca es requerida"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="canton">
                Cantón
              </label>
              <dx-text-box
                  class="form-control"
                  mode="password"
                  placeholder="Cantón">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Cantón es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="telefono">
                Teléfono
              </label>
              <dx-text-box
                  class="form-control"
                  mode="password"
                  placeholder="Teléfono">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Teléfono es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label class="apellido">
                Apellido
              </label>
              <dx-text-box
                  class="form-control"
                  name="login.clave"
                  mode="password"
                  placeholder="Teléfono">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Teléfono es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label>
                Parroquia
              </label>
              <dx-text-box
                  class="form-control"
                  mode="password"
                  placeholder="Parroquia">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Parroquia es requerida"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="form-group">
              <label>
                Correo Electrónico
              </label>
              <dx-text-box
                  class="form-control"
                  mode="email"
                  placeholder="Correo">
                <dx-validator>
                  <dxi-validation-rule type="email"></dxi-validation-rule>
                  <dxi-validation-rule type="required" message="Correo electrónico es requerido"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
