.container {
  width: 100%;
}

div.row.formulario {
  margin-top: 5%;
}

h4 {
  width: 100%;
  color: #124c96;
  font-family: Montserrat-Bold;
  text-align: center;
  margin-top: 5%;
}

dx-text-box.form-control {
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px -1px 5px #d4d4d4;
  box-shadow: 0px -1px 5px #d4d4d4;
}

/deep/ dx-text-box.form-control div.dx-texteditor-container input {
  background: transparent;
  font-family: Montserrat-Regular;
  font-style: italic;
}

dx-button.boton {
  margin-top: 10%;
  height: 3.5em;
  font-size: 1.2em;
  font-family: Montserrat-Bold;
  color: #000;
}

.cod_finca {
  background: url(../../assets/images/iconos/ICON-CODEBAR.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15%;
  padding-left: 15%;
}

.provincia {
  background: url(../../assets/images/iconos/ICON-MAP.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15%;
  padding-left: 15%;
}

.provincia {
  background: url(../../assets/images/iconos/ICON-MAP.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15%;
  padding-left: 15%;
}

.GPSL {
  background: url(../../assets/images/iconos/ICON-LONGITUD.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15%;
  padding-left: 15%;
}

.nombre-finca {
  background: url(../../assets/images/iconos/ICON-BAR.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15%;
  padding-left: 15%;
}

.nombre {
  background: url(../../assets/images/iconos/ICON-NAME.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25%;
  padding-left: 15%;
}

.direccion {
  background: url(../../assets/images/iconos/ICON-LOCA.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25%;
  padding-left: 15%;
}

.canton {
  background: url(../../assets/images/iconos/ICON-MAP2.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25%;
  padding-left: 15%;
}

.telefono {
  background: url(../../assets/images/iconos/ICON-PHONE.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25%;
  padding-left: 15%;
}

.apellido {
  background: url(../../assets/images/iconos/ICON-APELLIDO.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25%;
  padding-left: 15%;
}

.parroquia {
  background: url(../../assets/images/iconos/ICON-PARROQ.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25%;
  padding-left: 15%;
}

.email {
  background: url(../../assets/images/iconos/ICON-EMAIL.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 15%;
  padding-left: 15%;
}

.cedula {
  background: url(../../assets/images/iconos/ICON-CEDULA.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25%;
  padding-left: 15%;
}

.gps {
  background: url(../../assets/images/iconos/ICON-LATITUDE.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25%;
  padding-left: 15%;
}

h6.Referencia {
  color: #e36220;
}

dx-button.boton{
  margin-top: 10px;
  height: 2.5em;
  font-size: 0.9em;
  font-family: Montserrat-Bold;
  color: #124c96;
  border: 1px solid #124c96;
  border-radius: 5px;
  float: right;
  margin-left: 20px;
}


