.contendor {
  margin-top: 5%;
}

.container {
  width: 100%;
}

.navigation-clean {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

nav.navbar.navbar-default.navigation-clean {
  border-radius: 5px;
}

.navigation-clean .navbar-collapse, .navigation-clean .navbar-form {
  border-top-color: #ddd;
}

.navigation-clean.navbar-default .navbar-nav > .active > a,
.navigation-clean.navbar-default .navbar-nav > .active > a:focus,
.navigation-clean.navbar-default .navbar-nav > .active > a:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean.navbar-default .navbar-nav > li > a:focus,
.navigation-clean.navbar-default .navbar-nav > li > a:hover {
  color: #37434d !important;
  background-color: transparent;
}

img.ayuda {
  width: 40px;
  height: 40px;
}

a {
  cursor: pointer;
}

ul.dropdown-menu {
  border-radius: 5px;
  background: #e36220;
  border-color: #e36220;
}

ul.dropdown-menu li a {
  color: #fff;
  font-size: 1.1em;
}

ul.dropdown-menu li a:hover {
  color: #fff;
  background: #e36220;
  border-color: #e36220;
}

ul.dropdown-menu li a img.icon-menu {
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 5px;
  margin-top: -4px;
}

a.dropdown-toggle {
  margin-top: 7px;
}

#close {
  margin-top: 30px;
}

img.user {
  width: 25%;
  display: inline-block;
  margin-top: -20px;
}

div.usuario-datos {
  display: inline-block;
  padding-top: 20px;
}

label {
  display: block;
  margin: 0;
  line-height: 1em;
}

label.usuario {
  display: block;
  color: #6489b8;
}

div.main-container{
  margin-top: 5%;
  min-height: 400px;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
}

div.alertas {
  margin-top: 5%;
  min-height: 512px;
  background: #fff;
  border-radius: 5px;
  padding: 15px;
}

div.logo img {
  width: 100%;
}

.alertas h5 {
  color: #6489b8;
}

.nombre {
  background: url(../../assets/images/iconos/ICON-NAME.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 8%;
  padding-left: 8%;
  color: #8f8f8f;
}

.apellido {
  background: url(../../assets/images/iconos/ICON-APELLIDO.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 8%;
  padding-left: 8%;
  color: #8f8f8f;
}

.finca {
  background: url(../../assets/images/iconos/ICON-BAR.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 8%;
  padding-left: 8%;
  color: #8f8f8f;
}

.codigo {
  background: url(../../assets/images/iconos/ICON-CODEBAR.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 8%;
  padding-left: 8%;
  color: #8f8f8f;
}

.direccion {
  background: url(../../assets/images/iconos/ICON-LOCA.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 8%;
  padding-left: 8%;
  color: #8f8f8f;
}

.dato {
  color: #e36220;
  padding-left: 8%;
}

@media (max-width:767px) {

  .navigation-clean {
    padding-top: 0;
    padding-bottom: 0;
  }

}
