/* You can add global styles to this file, and also import other style files */
body {
  background: url("./assets/images/FONDOAPPWEB-INTELISOFT.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
}
