<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h4>Consultar por Cédula de Identidad</h4>
      <div class="input-group">
        <form (ngSubmit)="consultar($event)">
          <input type="hidden" name="search_param" value="all" id="search_param">
          <input type="text" class="form-control" [(ngModel)]="cedula"
              name="cedula" placeholder="Ingrese el número de cédula">
            <span class="input-group-btn">
              <button class="btn btn-default btn-buscar" type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
        </form>
      </div>
    </div>
  </div>
</div>
