.container {
    width: 100%;
}

h4 {
    width: 100%;
    color: #124c96;
    font-family: Montserrat-Bold;
    text-align: center;
    margin-top: 10%;
}

.input-group {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

button.btn.btn-default.btn-buscar {
    color: #fff;
    background: #1a569f;
    margin-left: 4px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

div.input-group input.form-control {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0px -1px 5px #d4d4d4;
    box-shadow: 0px -1px 5px #d4d4d4;
    width: 91%;
}

input.form-control.ng-pristine.ng-valid.ng-touched {
    width: 88%;
}